html {
  background-color: snow;
  font-family: 'Roboto', sans-serif;
  font-size: medium;
  color: #2e4007;
}

body {
  margin: 0px;
}

header.page-header {
  /* height: 450px; */
}

/* Style the header navigation menu - common to all pages */
.header-nav {
  height: 50px;
  overflow: hidden;
  background-color: #669966;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 24px;
}

.header-block {
  height: 50px;
  padding-top: 10px;
}

/* Style the home/logo link */
.home-page-link {
  font-family: 'Playball', cursive;
  color: #fff9f9;
  text-decoration: none;
  font-size: 24px;
  padding-left: 30px;
}

/* Hide the links inside the navigation menu (except for home and lotus) */
#page-links {
  display: none;
}

#page-links a {
  font-family: 'Shadows Into Light Two', cursive;
  font-size: 18px;
  display: block;
  float: left;
  color: #fff9f9;
  text-align: center;
  text-decoration: none;
  padding: 5px 15px 5px 15px;
}

#page-links a:hover {
  background-color: #fff9f9 ;
  color: #2e4007;
}

/* Style the hamburger (lotus) menu */
#lotus {
  padding-right: 0px;
  padding-top: 0px;
  width: 100px;
}

/* Style the header image with page title overlay - common to each page */
.header-img {
  width: 100%;
  margin-top: 50px;
}

.title {
  margin-top: -20%;
}

h1 {
  font-family: 'Playball', cursive;
  font-size: 120px;
  text-align: center;
  /* margin-top: -280px; */
}

/* Style for introduction section on Home Page */
.home-image {
  width: 100%;
  opacity: 0.5;
}

.introduction {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10%;
  padding-top: 25px;
  padding-bottom: 25px;
}

.intro-words {
  flex-basis: 50%;
  margin-left: 10%;
  text-align: justify;
}

#cheers {
  text-align: end;
  padding-right: 50px;
}

.profile-photo {
  flex-basis: 12%;
  justify-items: center;
}

/* Style for nav bar on Home Page */
.nav-bar-full-width {
  margin-top: 50px;
  background-color: #669966;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 140px;
}

.nav-link {
  display: flex;
  font-family: 'Shadows Into Light Two', cursive;
  color: #2e4007;
  font-size: 24px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: 1px solid #2e4007;
  width: 120px;
  height: 120px;
  background-color: #fff9f9;
}

.nav-link:hover {
  background-color: #2e4007;
  color: #fff9f9;
  border: 1px solid #fff9f9;
}

.asking {
  width: 30%;
  text-align: justify;
  padding-top: 50px;
  margin: auto;
}

/* Style for Projects Page content section */
.projects-image {
  width: 100%;
  opacity: 0.5;
}

.projects {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 25px;
  padding-bottom: 25px;
}

#first-project {
  margin-top: 10%;
}

.learning {
  padding-top: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.projects-text {
  flex-basis: 28%;
  margin-left: 10%;
  text-align: justify;
  align-self: center;
}

h3 {
  font-family: 'Shadows Into Light Two', cursive;
  font-size: 20px;
  color: #669966;
  text-align: center;
}

.project-image {
  max-width: 300px;
}

.project-blocks {
  flex-basis: 10%;
  padding: 5px;
}

.project-blocks:hover {
  padding: 3px;
  border: 2px solid #2e4007;
}

/* Style for About Joy Page content section */
.about-joy-image {
  width: 100%;
  opacity: 0.5;
}

.double {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-left: 15%;
  margin-right: 15%;
  padding-top: 25px;
}

#first-bio {
  margin-top: 10%;
}


.bio-half-width {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 55%;
}

.bio-half-width .bio-text {
  width: 70%;
  text-align: justify;
}

.bio-image {
  padding-top: 25px;
}

.bio-full-width {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 25px;
}

.bio-full-width .bio-text {
  width: 60%;
  text-align: justify;
}

#mother-half {
  display: none;
}

#vision-half {
  display: none;
}

/* Style for Project Specific Language Page content section */
.html-projects-image {
  width: 100%;
  opacity: 0.5;
}

.project-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: flex-start;
  flex-basis: 40%;
  padding-left: 20px;
}

.specific-project-header h4 {
  font-family: 'Playball', cursive;
  font-size: 24px;
  text-align: center;
}

.author {
  font-family: 'Shadows Into Light Two', cursive;
  font-size: 18px;
}

article footer {
  margin-left: 0px;
  width: 100%;
}

/* Styling of the form section - common to all pages */
h2 {
  font-family: 'Shadows Into Light Two', cursive;
  font-size: 24px;
  text-align: center;
  padding-top: 20px;
}

form {
  margin: 50px auto;
  width: 60%;
  border-top: 1px solid #2e4007;
  border-bottom: 1px solid #2e4007;
}

.form-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.form-item input,
.form-item textarea,
.form-item button {
  flex-basis: 50%;
  border: 1px solid #2e4007;
  font-family: 'Shadows Into Light Two', cursive;
  font-size: 18px;
  text-align: center;
  padding: 10px;
}

.form-item button {
  background-color: #fff9f9;
  flex-basis: 25%;
}

.form-item button:hover {
  background-color: #669966;
  color: #fff9f9;
  border: 1px solid #fff9f9;
}

form p {
  font-family: 'Shadows Into Light Two', cursive;
  text-align: center;
  padding-bottom: 20px;
}

/* Style for footer section - common to every page */
footer {
  width: 60%;
  margin: auto;
  padding-bottom: 15px;
}

.footer-social-links {
  display: flex;
  justify-content: center;
}

.link-icons {
  display: block;
  padding: 10px;
}

.footer-copy {
  text-align: center;
}

@media only screen and (max-width: 600px) {
html {
  font-size: 12px;
}
  
/* Mobile Style for Header - common to all pages */
header.page-header {
  height: 150px;
}

.header-nav {
  font-size: 14px;
}

.header-block {
  height: 30px;
  padding-top: 15px;
}

.home-page-link {
  font-size: 18px;
  padding-left: 10px;
}

#page-links a {
  font-size: 14px;
  padding: 0px 10px 5px 10px;
}

#lotus {
  width: 80px;
}

h1 {
  font-size: 60px;
  margin-top: -100px;
}

/* Mobile Style for Home Page */
.home-image {
  max-height: 150px;
  width: 100%;
}

.introduction {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 5%;
  padding-top: 5px;
  padding-bottom: 0px;
}

.intro-words {
  width: 75%;
  margin: auto;
}

.profile-photo {
  flex-basis: 100%;
  margin: auto;
  padding-top: 10px;
}

/* Mobile Style for nav bar on Home Page */
.nav-bar-full-width {
  margin-top: 25px;
  padding: 0px;
  width: 100%;
}

.asking {
  width: 75%;
  padding-top: 25px;
}

/* Mobile Style for Projects Page */
.projects-image {
  max-height: 150px;
  width: 100%;
}

.projects {
  flex-direction: column;
  padding-top: 5px;
  padding-bottom: 5px;
}

#first-project {
  margin: 3%;
}

.learning {
  padding-top: 5px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.projects-text {
  flex-basis: 100%;
  margin-left: 10%;
  margin-right: 10%;
  padding-bottom: 5px;
}

.project-image {
  width: 100%;
}

.project-blocks {
  flex-basis: 30%;
  padding: 5px;
}

/* Mobile Style for About Joy Page content section */
.about-joy-image {
  max-height: 150px;
  width: 100%;
}

.double {
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  margin-left: 0%;
  margin-right: 0%;
  padding-top: 5px;
}

#first-bio {
  margin: 3%;
}

.bio-half-width {
  width: 100%;
}

.bio-half-width .bio-text {
  width: 85%;
}

.bio-image {
  width: 85%;
  padding-top: 15px;
}

.about-image-half {
  width: 100%;
}

.bio-full-width {
  padding-top: 15px;
}

.bio-full-width .bio-text {
  width: 85%;
}

#mother-full {
  display: none;
}

#mother-half {
  display: block;
}

#vision-full {
  display: none;
}

#vision-half {
  display: block;
}

/* Mobile Style for Project Specific Language Page */
.html-projects-image {
  max-height: 150px;
  width: 100%;
}

article .projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

article .project-details {
  flex-basis: 80%;
  padding-left: 10%;
  padding-right: 10%;
}

.specific-project-header h4 {
  font-size: 24px;
  text-align: left;
}

.author {
  font-size: 12px;
}

article .project-image {
  width: 100%;
}

article .project-blocks {
  width: 50%;
  margin: auto;
}

/* Mobile Style for the form section - common to all pages */
h2 {
  font-size: 20px;
}

form {
  margin: 25px auto;
  width: 85%;
}

.form-item input,
.form-item textarea,
.form-item button {
  flex-basis: 65%;
  font-size: 16px;
  padding: 5px;
}

/* Mobile Style for footer section - common to every page */
footer {
  width: 80%;
}

.link-icons {
  justify-content: space-evenly;
}
